.c-header {
    text-align: center;
}

.c-heading {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    margin-top: 3rem;
    border-bottom: 1px dashed #f24472;
    color: #f24472;
}

.c-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    width: 90vw;
    margin: 3rem 2rem;
    overflow: hidden;
}

.c-container {
    position: relative;
    width: 223px;
    height: 212px;
    display: inline-block;
}

.c-gallery {
    display: block;
    width: 223px;
    height: 212px;
}

.c-overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.c-container:hover .c-overlay {
    opacity: 1;
}

.c-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.c-text a {
    text-decoration: none;
    color: #f24472;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 0.5px solid #f24472;
}

.overlay-left {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.c-container:hover .overlay-left {
    width: 100%;
}

.c-content {
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

.c-category {
    color: #888;
    font-size: 13px;
    text-decoration: underline;
}

.fa-star {
    color: #fbbd00;
}